.main {
  height: 100%;
  background-color: #eff1f3;
}
.title {
  justify-content: center;
  text-align: center;
  width: 100%;
  // height: 100px;
  background-color: #0c3860;
  color: #c5a07a;
  font-weight: bold;
  .name {
    padding-top: 20px;
    width: 100%;
    font-size: 40px;
  
  }
  
  .position {
    width: 100%;
    font-size: 25px;
    padding: 20px 0;
  }
}

.body {
 padding-top: 20px; 
 height: 100%;
 justify-content: center;
 background-color: white;
 line-height: 1.8;
}
.left-pane {
  padding-left: 7mm;
  padding-right: 15px;
  border-right: 1px solid;
  border-color: #c5a07a;
  width: 500px;
}
.contact {
  display: inline-flex;
  align-items: center;
  justify-content: start;
}
.bullet {
  // display: block;
  padding-bottom: 10px;
  .text {
    padding-left: 10px;
  }
  .pi {
    color: #c5a07a;
  }
}

.skills {
  font-weight: bold;
}

.border, .sub-section {
  border-bottom: 1px solid;
  border-color: #c5a07a;
  padding: 10px 0;
}
// .link {
  
// }
// .summary {
  
// }
// .sub-section {
  
// }
.right-pane {
  padding-left: 15px;
  padding-right: 7mm;
  width: 700px;
}

.dated-title {
  display: flex;
  justify-content: space-between;
}

.sub-section-title {
  color: #c5a07a;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}
// .block {
  
// }
.sub-title {
 font-weight: bold; 
}
// .date {
  
// }
