
<main class="main">
  <div class="title">
    <div class="name">Diego Coss</div>
    <div class="position">Software Engineer I</div>
  </div>
  <div class="body grid">
    <div class="left-pane col-4">
      <div class="contact border grid">

        <div class="bullet col-12">
          <i class="pi pi-phone"></i>
          <span class="text">
          </span>
        </div>
        <div class="bullet col-12">
          <i class="pi pi-at"></i>
          <span class="text">
          </span>
        </div>
        <div class="bullet col-12">
          <i class="pi pi-linkedin"></i>
          <a class="text link" href="#" onClick="window.open('https://linkedin.com/in/diego-coss', '_blank')">linkedin.com/in/diego-coss</a>
        </div>

      </div>
      <div class="summary border">
        <div class="sub-section-title">Summary</div>
        
        Full-Stack Software Engineer I with experience in object-oriented programming, 
        database systems, algorithms, data structures. I’ve engineered a few features from start to 
        finish as well as implemented many other features. I worked mainly with the Angular framework 
        for the frontend and various backends like SpringBoot. Worked in a variety of team compositions 
        successfully adapting to new environments. Seeking Software Developer II opportunities in 2024.
      </div>
      <div class="sub-section skills">
        <div class="sub-section-title">Skills</div>
        
        • Java • JavaScript • C/C++ • Python • AngularJs & 14 • 
        Spring Boot • RXJS • MySQL • Mongo • Jconsole • Tkinter
      </div>
    </div>
    <div class="right-pane col-6">
      
      <div class="sub-section">
        <div class="sub-section-title">Professional Experience</div>
        <div class="block">
          <div class="dated-title">
            <span class="sub-title">Full Stack Software Engineer 1, Phoenix Logistics LLC	</span>
            <span class="date">2022-2024</span>
          </div>
          &#x2022; Designed frontend and backend features while meeting system requirements and user expectations.<br>
          &#x2022; Incorporated new technologies like MongoDb to capture complex statistics. <br>
          &#x2022; Prototyped technologies like Graphql, Redis, Reactive to see if it fits our requirements.<br>
          &#x2022; Brought to attention new bug tickets for new and existing problems in the system.<br>
          &#x2022; Solved many bug tickets by analyzing code, debugging, researching, and collaborating with teammates.
        </div>

      </div>

      <div class="sub-section">
        <div class="sub-section-title">Education</div>
        <div class="block">
          <div class="dated-title">
            <span class="sub-title">M.S. Computer Science</span>
            <span class="date">2021</span>
          </div>
          Arizona State University, Tempe, AZ
        </div>

        <div class="block">
          <div class="dated-title">
            <span class="sub-title">B.S. Computer Science</span>
            <span class="date">2020</span>
          </div>
          Arizona State University, Tempe, AZ
        </div>
      </div>

      <div class="sub-section">
        <div class="sub-section-title">Projects</div>
        <div class="block">
          <div class="dated-title">
            <span class="sub-title">Postgres/MySQL/SQL Applications, Class Project</span>
            <span class="date">2021</span>
          </div>
          <div class="individual-bullet-points">
            &#x2022; Created SQL databases, Tables, and queries to understand pgAdmin and Postgres. 
          </div>

        </div>

        
        <div class="block">
          <div class="dated-title">
            <span class="sub-title">Web Browser applications, Class Projects</span>
            <span class="date">2020</span>
          </div>
          <div class="individual-bullet-points">
            &#x2022; Implemented client web applications using normal JavaScript as well as Angular 1. <br>
            &#x2022; Utilized templates and controllers in Angular to increase code reusability. 

          </div>
        </div>

        
        <div class="block">
          <div class="dated-title">
            <span class="sub-title">General Dynamics MS Anomaly Detection Software, Python Application, Capstone Project</span>
            <span class="date">2020</span>
          </div>
          <div class="individual-bullet-points">
            &#x2022; Used Scrum, version control, and Trello to track progress to deliver the software product on time. <br>
            &#x2022; Implemented flexible GUI code to complete the graphical user interface requirements.<br>
            &#x2022; Documented code to be maintainable by third parties and Communicated progress to the team and product manager.<br>
            &#x2022; Worked in a team of 5 and led the front-end development using Tkinter to create the UI.<br>
            &#x2022; Outputted the Executable binaries 
          </div>
        </div>

        <div class="block">
          <div class="dated-title">
            <span class="sub-title">C# Projects/Applications, Class Projects</span>
            <span class="date">2020</span>
          </div>
          <div class="individual-bullet-points">
            &#x2022; Built web forms and console applications using the C# .Net framework to test the functionality of the services. <br>
            &#x2022; Created WSDL services so the client could have additional functionality. <br>
            &#x2022; Constructed C# program with multiple threads, buffers, and delegates to solve the Producer-Consumer problem.<br>
            &#x2022; Utilized asynchronous events and public APIs to enhance the features of the application.
          </div>
        </div>
        
        <div class="block">
          <div class="dated-title">
            <span class="sub-title">C++ Projects, Class Project</span>
            <span class="date">2019</span>
          </div>
          <div class="individual-bullet-points">
            &#x2022; Created a program compiler to compile and execute operations.<br>
            &#x2022; Familiar with C++ data structures like vectors, sets, classes, and pointers which helped me complete assignments.<br>
            &#x2022; Exercised excellent memory management in C and C++ to keep memory leaks under control. 
          </div>
        </div>

        <!-- <div class="dated-title">
          <div class="block">
            <span class="sub-title">	</span>
            <span class="date"></span>
          </div>
        </div>

        <div class="dated-title">
          <div class="block">
            <span class="sub-title">	</span>
            <span class="date"></span>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</main>


<router-outlet />
